.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

#bio p {
  padding-bottom: 1em;
}

#rrss i {
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.imagem {
    height: 80vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-top: 0;
}

a.ye {
  /* color:inherit; */
  /* text-decoration: none; */
 }

a.yei {
  color:inherit;
  text-decoration: none;
 }


#map {
    height: 70vh;
}

p.iconas {
       letter-spacing: 6px
}

.linguas{
    position:fixed;
    bottom:0;
    right:0;
    margin-bottom: 35px;
    margin-right: 22px;
    z-index: 9;
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
}